#about-us-container.content-container {
    background-image: url("../images/container/container-3.webp");
}

#about-us-container .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 1000px;
    gap: 50px;
    font-size: 20px;
    text-align: center;
}

#about-us-container img {
    width: 200px;
}
