:root
{
    --primary-brand: #E79023;
    --secondary-brand: #7466E2;
    --confirm: #3DC81C;
    --error: #DC3D1C;
    --secondary-white: #DDDDDD;
    --tertiary-white: #A7A7A7;
}

@media (min-width: 1440px)
{
    :root
    {
        --section-width: 1333.27px;
    }
}

@media (max-width: 1440px)
{
    :root
    {
        --section-width: 80%;
    }
}

@media (max-width: 768px)
{
    :root
    {
        /* --section-width: 430px; */
        --section-width: 80%;
    }
}

@media (max-width: 430px)
{
    :root
    {
        --section-width: 100%;
    }
}

@font-face {
    font-family: 'Code Font Light';
    src: url("../fonts/code-font/CODE\ Light.otf");
}

@font-face {
    font-family: 'Code Font Bold';
    src: url("../fonts/code-font/CODE\ Bold.otf");
}

@font-face {
    font-family: 'Quantum';
    src: url("../fonts/quantum/Quantum.otf");
}

@font-face {
    font-family: 'Neonize';
    src: url("../fonts/neonize/neonize.ttf");
}

html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    font-family: 'Exo 2';
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-weight: lighter;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    /* background-color: #0f0f0f; */

    min-height: 100vh;
    min-height: -webkit-fill-available;

    /* cursor: none; */
    text-shadow: 2px 2px #00000075;
}

:root{
    --test: #1a1c2f;
}

body > div
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Code Font Bold';
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2
{
    font-size: 48px;
}

h3
{
    font-size: 28px;
}

h4
{
    font-size: 24px;
}

h5
{
    font-size: 20px;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a
{
    color: white;
    text-decoration: none;
}

span
{
    color: white;
}



button
{
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input {
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.cursor
{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.125);
    transition: 0.1s;
    pointer-events: none;
    z-index: 1000;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    scale: 0.75;
}

.cursor.clickable-hovering
{
    background-color: var(--confirm);
    scale: 0.35;
}

.cursor.text-hovering
{
    mix-blend-mode: difference;
    background-color: white;
    scale: 4;
}

#cursor-glow-wrapper
{
    position: absolute;
    width: 125px;
    aspect-ratio: 1;
    overflow: visible;
    filter: blur(50px);
    opacity: 1;
    transition: opacity 0.75s;
}

#cursor-glow
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    /* background: linear-gradient(to right, var(--secondary-brand), white); */
    background: linear-gradient(to right, var(--primary-brand), var(--secondary-brand));
    z-index: -2;
    animation: glow-rotate 20s infinite;
}

#cursor-glow::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 100;
    background: linear-gradient(to right, var(--primary-brand), var(--secondary-brand));
}

#cursor-glow-wrapper.clickable-hovering {
    opacity: 0;
}

#cursor-glow-wrapper.clickable-hovering #cursor-glow::after {
    opacity: 1;
}

@keyframes glow-rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }
}

#navbar
{
    top: -2px;
    position: fixed;
    z-index: 100;
    font-family: 'Code Font Bold';
    width: 100%;
}

.desktop .navbar-bg
{
    width: 100%;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desktop .navbar-bg-left
{
    position: relative;
    height: 100%;
    left: 0;
}

.desktop .navbar-bg-right
{
    position: relative;
    width: 100%;
}

.desktop .navbar-logo
{
    position: absolute;
    left: 75px;
    top: 5px;
    z-index: 1;
}

.desktop .navbar-logo img
{
    width: 269px;
}


.notice-bar {
    position: absolute;
    display: inline;
    font-size: 14px;
    font-family: "Code Font Bold";
    top: 80%;
    left: 420px;
    right: 10px;
    text-wrap: nowrap;
    color: var(--primary-brand);
}

.notice-bar span {
    position: absolute;
    color: var(--primary-brand);
}

.notice-bar .list-wrapper {
    position: absolute;
    overflow: hidden;
    left: 100px;
    right: 0;
}

.notice-bar ul {
    position: relative;
    display: inline-flex;
    left: 0;
    animation: notice-bar-scroll 10s infinite linear;
}

.notice-bar ul li {
    white-space: nowrap;
    padding: 0px 25px;
}

/* TODO: Make scroll speed independant of list width */
@keyframes notice-bar-scroll {
    from {
        left: calc(100vw - 545px);
    }
    to {
        left: 0;
        transform: translate(-100%);
    }
}


.desktop .navbar-tab-container
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 23px;
    width: 100%;
    min-width: 1150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5em;

    text-transform: uppercase;
    font-size: 4;
}

.navbar-tab
{
    display: block;
}

#voyager
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
}

#voyager-navbar-mover
{
    margin: 0 auto;
    place-content: center;
    z-index: 5;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
}

#voyager-navbar-target
{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
}

#voyager-header-target
{
    position: relative;
    left: 0;
    top: 0;
    width: 700px;
    height: 700px;
}

#voyager-navbar-mover.move {
    -webkit-animation: move 0.35s ease-out;
            animation: move 0.35s ease-out;
}

#voyager-navbar-target #voyager-navbar-mover
{
  scale: var(--voyager-move-end-scale);
}

#voyager-navbar-mover.move #voyager
{
    -webkit-animation: scale 0.35s ease-out;
            animation: scale 0.35s ease-out;
}


@-webkit-keyframes move {
    from {
        -webkit-transform: var(--voyager-move-start-position);
                transform: var(--voyager-move-start-position);
    }
    to {
        -webkit-transform: var(--voyager-move-end-position);
                transform: var(--voyager-move-end-position);
    }
  }


@keyframes move {
    from {
        -webkit-transform: var(--voyager-move-start-position);
                transform: var(--voyager-move-start-position);
    }
    to {
        -webkit-transform: var(--voyager-move-end-position);
                transform: var(--voyager-move-end-position);
    }
  }

  @-webkit-keyframes scale {
    from {
        scale: var(--voyager-move-start-scale);
    }
    to {
        scale: var(--voyager-move-end-scale);
    }
  }

  @keyframes scale {
    from {
        scale: var(--voyager-move-start-scale);
    }
    to {
        scale: var(--voyager-move-end-scale);
    }
  }


.btn
{
    display:flex;
    cursor: pointer;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    text-wrap: nowrap;
    font-family: "Code Font Bold";
}

.btn img
{
    height: auto;
}

.btn span
{
    position: absolute;
    pointer-events: none;
}

.close-btn {
    position: absolute;
    width: 21.91px;
    height: 21.91px;
    top: 35px;
    right: 35px;
    background-image: url(../images/btns/close.png);
    cursor: pointer;
}

.input-field {
    position: relative;
    background-image: url(../images/input-field/inactive.png);
    background-repeat: no-repeat;
    width: 379px;
    height: 34px;
    margin: 20px;
}

.input-field input,
.input-field span {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 20px;
}

.input-field input {
    width: 91.5%;
    outline: none;
    color: var(--secondary-white);
}

.input-field span {
    transition: 0.25s;
    pointer-events: none;
    color: var(--tertiary-white);
}

.input-field:focus-within {
    background-image: url(../images/input-field/active.png);
}

.input-field input:valid ~ span,
.input-field input:focus ~ span {
    bottom: 100%;
    font-size: 15px;
}


.glow-hover
{
    -webkit-transition: -webkit-filter 0.2s;
    transition: -webkit-filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
}

.ham-menu.glow-hover:hover,
.btn.glow-hover:hover,
.close-btn.glow-hover:hover,
.language-dropdown.glow-hover:hover
{
    -webkit-filter: drop-shadow(0rem 0rem 10px rgba(255, 255, 255, 0.5));
            filter: drop-shadow(0rem 0rem 10px rgba(255, 255, 255, 0.5));
}

.glow-hover:hover
{
    /* -webkit-filter: drop-shadow(0rem 0rem 3.75px var(--primary-brand));
            filter: drop-shadow(0rem 0rem 3.75px var(--primary-brand)); */
    color: var(--primary-brand);
}

.panel-3d:hover > .glow-hover
{
    -webkit-filter: drop-shadow(0rem 0rem 20px var(--secondary-brand));
            filter: drop-shadow(0rem 0rem 20px var(--secondary-brand));
}


.repeat-bar
{
    pointer-events: none;
}

.repeat-bar::before,
.repeat-bar::after
{
    content: "";
    position: absolute;
    width: calc(50vw - 50%);
    height: 100%;
    background-repeat: repeat-x;
}

.repeat-bar::before
{
    right: 100%;
}

.repeat-bar::after
{
    left: 100%;
}


.heading-line
{
    position: relative;
    width: var(--section-width);

    padding-top: 60px;

    height: 114.34px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.heading-line > span
{
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.heading-line > span:nth-child(1)
{
    width: 111px;
    background-image: url(../images/lines/heading-line-1.png);
}

.heading-line > span:nth-child(2)
{
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    background-image: url(../images/lines/heading-line-2.png);
}

.heading-line > span:nth-child(3)
{
    width: 66px;
    background-image: url(../images/lines/heading-line-3.png);
}

.heading-line > span:nth-child(4)
{
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    background-image: url(../images/lines/heading-line-4.png);
}

.heading-line > span:nth-child(5)
{
    width: 47px;
    background-image: url(../images/lines/heading-line-5.png);
}

.heading-line > span:nth-child(6)
{
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    background-image: url(../images/lines/heading-line-6.png);
}

.heading-line h2
{
    font-family: "Code Font Bold";
    position: absolute;
    left: 95px;
    bottom: 60px;
    font-size: 48px;
    text-align: center;
    text-wrap: nowrap;
}


#footer-section
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: -150px;
    z-index: 56;
}

#footer-bg
{
    position: absolute;
    width: 100%;
    height: 449px;
    background-image: url("../images/footer-bg.png");
    background-position: top;
    background-size: contain 100%;
    background-repeat: repeat-x;
}

#footer-cta
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 150px;
    padding-bottom: 75px;
    color: white;
    gap: 4em;
    background-color: black;
}

#footer-cta > div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
}

#footer-cta h4
{
    margin: 0;
}

#footer-section ul
{
    font-family: 'Code Font Bold';
    text-transform: uppercase;
    text-align: left;
}

#footer-section li,
.opening-hours li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding-top: 15px;
    font-family: "Exo 2";
}

#booking
{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#booking .btn
{
    display: flex;
    margin-top: -1em;
    z-index: 1;
}

#booking .btn span {
    transform: translateY(0);
}

#footer-logo
{
    position: relative;
    z-index: 1;
    display: block;
    bottom: 0;
}

.week
{
    display: block;
    width: 12em;
}

.contact li
{
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            font-family: "Exo 2";
        }

.contact span,
.contact a
{
    padding-left: 1em;
}

.section
{
    width: var(--section-width);
    /* margin: 0 auto; */
    margin-top: 60px;
    margin-bottom: 60px;
    /* overflow-x: hidden; */
}


.content-container
{
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.highlight
{
    color: var(--primary-brand);
}

.section-divider
{
    position: absolute;
    width: 1440px;
    height: 22.5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;

    background-image: url(../images/lines/section-divider.png);
    background-repeat: no-repeat;
}

.section-divider::before
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    background-image: url(../images/lines/section-divider-side-left.png);
    /* background-size: auto 10%; */
}

.section-divider::after
{
    -webkit-transform: translate(-3px, 1px) rotate(180deg);
        -ms-transform: translate(-3px, 1px) rotate(180deg);
            transform: translate(-3px, 1px) rotate(180deg);
    background-image: url(../images/lines/section-divider-side-right.png);
}

.section-divider.top
{
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
}

.section-divider.bottom
{
    -webkit-transform: rotate(180deg) translateY(2px);
        -ms-transform: rotate(180deg) translateY(2px);
            transform: rotate(180deg) translateY(2px);
}

.ham-menu
{
    position: absolute;
    top: 25px;
    left: 10px;
    width: 26.29px;
    height: 15.29px;
    cursor: pointer;
}

.ham-menu img:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

.ham-menu img
{
    position: absolute;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    pointer-events: none;
}

.ham-menu img:nth-child(2) {
    top: 5.86px;
}

.ham-menu img:nth-child(3) {
    top: 11.72px;
}

.ham-menu.active img:nth-child(1) {
    -webkit-transform-origin: 10% 50%;
        -ms-transform-origin: 10% 50%;
            transform-origin: 10% 50%;
    rotate: 45deg;
}

.ham-menu.active img:nth-child(2) {
    opacity: 0%;
}

.ham-menu.active img:nth-child(3) {
    -webkit-transform-origin: 10% 50%;
        -ms-transform-origin: 10% 50%;
            transform-origin: 10% 50%;
    rotate: -45deg;
}

.off-screen-menu
{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    font-size: 12px;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    overflow: hidden;
}

.off-screen-menu.active
{
    left: 0;
}

.off-screen-menu .details-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    width: 300px
}

.off-screen-menu-content
{
    position: absolute;
    top: 100px;
    left: 25px;
    right: 25px;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 70px;
}

.off-screen-menu h4
{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.off-screen-menu .contact ul
{
    margin-top: 20px;
}

.off-screen-menu .opening-hours .week
{
    width: 125px;
}

.off-screen-menu .contact li
{
    margin-bottom: 20px;
}

.off-screen-menu .navbar-tab-container
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: 15px;
    left: 0;
    right: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;

    text-transform: uppercase;
}

.off-screen-menu .white-bar
{
    position: absolute;
    left: 90px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 105%;
}


.language-dropdown
{
    position: absolute;
    top: 20px;
    right: 2.5px;
    cursor: pointer;
    font-family: "Code Font Bold";
    font-size: 24px;
    color: var(--primary-brand);
}

.language-dropdown img {
    -webkit-transform: translate(-5px, -20%);
        -ms-transform: translate(-5px, -20%);
            transform: translate(-5px, -20%);
}

.mouse-move-parallax
{
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
}

.popup.open {
    display: inline;
    opacity: 1;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.side-decor-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-decor-heading h2 {
    font-family: "Neonize";
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    text-wrap: nowrap;
}

.side-decor-heading span {
    background-image: url(../images/decor/side-art.png);
    background-repeat: no-repeat;
    width: 258.5px;
    height: 47px;
    pointer-events: none;
}

.side-decor-heading span:nth-child(1) {
    margin-right: -110px;
}

.side-decor-heading span:nth-child(3) {
    margin-left: -110px;
    rotate: 180deg;
}

@media (max-width: 1440px)
{
    .section
    {
        margin-bottom: 15px;
    }

    .mobile .navbar-logo
    {
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 182px;
    }

    .navbar-logo img
    {
        width: 100%;
    }

    .mobile .navbar-bg
    {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        /* width: 298px; */
        width: 280px;
        height: 64px;

        background-image: url(../images/navbar/mobile/navbar-center.png);
        background-size: 100% 100%;
    }

    .mobile .navbar-bg::before,
    .mobile .navbar-bg::after
    {
        background-image: url(../images/navbar/mobile/navbar-sides.png);
    }

    #footer-cta
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

@media (max-width: 768px)
{
    #voyager-navbar-target
    {
        top: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .heading-line
    {
        background-image: url(../images/lines/mobile/heading-line.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        max-width: 410px;
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .heading-line > span
    {
        display: none;
    }

    .heading-line h2
    {
        font-size: 20px;
        margin: 0 auto;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(160%);
            -ms-transform: translateX(-50%) translateY(160%);
                transform: translateX(-50%) translateY(160%);
    }

    .section-divider
    {
        width: 183px;
        height: 67px;
        background-image: url(../images/lines/mobile/section-divider-center.png);
    }

    .section-divider::before
    {
        rotate: 180deg;
        background-image: url(../images/lines/mobile/section-divider-sides.png);
    }

    .section-divider::after
    {
        rotate: 180deg;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        background-image: url(../images/lines/mobile/section-divider-sides.png);
    }

    .section-divider.top,
    .section-divider.bottom
    {
        -webkit-transform: translateY(-85%);
            -ms-transform: translateY(-85%);
                transform: translateY(-85%);
    }
}

  
/*#region Preloader*/
#preloader-container
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    color: var(--primary-brand);
    -webkit-perspective: 40em;
            perspective: 40em;
}

.preloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: tiltSpin 8s linear infinite;
            animation: tiltSpin 8s linear infinite;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 17em;
    height: 17em; }
    .preloader, .preloader__ring {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .preloader__ring {
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: inherit;
            animation-timing-function: inherit;
    -webkit-animation-iteration-count: inherit;
            animation-iteration-count: inherit;
    font-size: 1.2em;
    font-family: 'Neonize';
    font-weight: lighter;
    position: relative;
    height: 3rem;
    width: 1.5rem;
}

.preloader__ring:nth-child(even) {
    animation-direction: reverse;
}

.preloader__sector {
font-weight: 600;
position: absolute;
top: 0;
left: 0;
text-align: center;
text-transform: uppercase;
-webkit-transform: translateZ(7rem);
        transform: translateZ(7rem);
}

.preloader__sector, .preloader__sector:empty:before {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.preloader__sector:empty:before {
    background: -o-linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, transparent), color-stop(45%, currentColor), color-stop(55%, transparent));
    background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
    content: "";
}

.preloader__sector:nth-child(2) {
    -webkit-transform: rotateY(12deg) translateZ(7rem);
            transform: rotateY(12deg) translateZ(7rem);
}

.preloader__sector:nth-child(3) {
    -webkit-transform: rotateY(24deg) translateZ(7rem);
            transform: rotateY(24deg) translateZ(7rem);
}

.preloader__sector:nth-child(4) {
    -webkit-transform: rotateY(36deg) translateZ(7rem);
            transform: rotateY(36deg) translateZ(7rem); 
}

.preloader__sector:nth-child(5) {
    -webkit-transform: rotateY(48deg) translateZ(7rem);
            transform: rotateY(48deg) translateZ(7rem); 
}

.preloader__sector:nth-child(6) {
    -webkit-transform: rotateY(60deg) translateZ(7rem);
            transform: rotateY(60deg) translateZ(7rem); 
}

.preloader__sector:nth-child(7) {
    -webkit-transform: rotateY(72deg) translateZ(7rem);
            transform: rotateY(72deg) translateZ(7rem);
}

.preloader__sector:nth-child(8) {
    -webkit-transform: rotateY(84deg) translateZ(7rem);
            transform: rotateY(84deg) translateZ(7rem); 
}

.preloader__sector:nth-child(9) {
    -webkit-transform: rotateY(96deg) translateZ(7rem);
            transform: rotateY(96deg) translateZ(7rem); 
}

.preloader__sector:nth-child(10) {
    -webkit-transform: rotateY(108deg) translateZ(7rem);
            transform: rotateY(108deg) translateZ(7rem); 
}

.preloader__sector:nth-child(11) {
    -webkit-transform: rotateY(120deg) translateZ(7rem);
            transform: rotateY(120deg) translateZ(7rem);
}

.preloader__sector:nth-child(12) {
    -webkit-transform: rotateY(132deg) translateZ(7rem);
            transform: rotateY(132deg) translateZ(7rem); 
}

.preloader__sector:nth-child(13) {
    -webkit-transform: rotateY(144deg) translateZ(7rem);
            transform: rotateY(144deg) translateZ(7rem);
}

.preloader__sector:nth-child(14) {
    -webkit-transform: rotateY(156deg) translateZ(7rem);
            transform: rotateY(156deg) translateZ(7rem);
}

.preloader__sector:nth-child(15) {
    -webkit-transform: rotateY(168deg) translateZ(7rem);
            transform: rotateY(168deg) translateZ(7rem); 
}

.preloader__sector:nth-child(16) {
    -webkit-transform: rotateY(180deg) translateZ(7rem);
            transform: rotateY(180deg) translateZ(7rem);
}

.preloader__sector:nth-child(17) {
    -webkit-transform: rotateY(192deg) translateZ(7rem);
            transform: rotateY(192deg) translateZ(7rem); 
}

.preloader__sector:nth-child(18) {
    -webkit-transform: rotateY(204deg) translateZ(7rem);
            transform: rotateY(204deg) translateZ(7rem); 
}

.preloader__sector:nth-child(19) {
    -webkit-transform: rotateY(216deg) translateZ(7rem);
            transform: rotateY(216deg) translateZ(7rem); 
}

.preloader__sector:nth-child(20) {
    -webkit-transform: rotateY(228deg) translateZ(7rem);
            transform: rotateY(228deg) translateZ(7rem); 
}

.preloader__sector:nth-child(21) {
    -webkit-transform: rotateY(240deg) translateZ(7rem);
            transform: rotateY(240deg) translateZ(7rem);
}

.preloader__sector:nth-child(22) {
    -webkit-transform: rotateY(252deg) translateZ(7rem);
            transform: rotateY(252deg) translateZ(7rem);
}

.preloader__sector:nth-child(23) {
    -webkit-transform: rotateY(264deg) translateZ(7rem);
            transform: rotateY(264deg) translateZ(7rem);
}

.preloader__sector:nth-child(24) {
    -webkit-transform: rotateY(276deg) translateZ(7rem);
            transform: rotateY(276deg) translateZ(7rem);
}

.preloader__sector:nth-child(25) {
    -webkit-transform: rotateY(288deg) translateZ(7rem);
            transform: rotateY(288deg) translateZ(7rem);
}

.preloader__sector:nth-child(26) {
    -webkit-transform: rotateY(300deg) translateZ(7rem);
            transform: rotateY(300deg) translateZ(7rem);
}

.preloader__sector:nth-child(27) {
    -webkit-transform: rotateY(312deg) translateZ(7rem);
            transform: rotateY(312deg) translateZ(7rem); 
}

.preloader__sector:nth-child(28) {
    -webkit-transform: rotateY(324deg) translateZ(7rem);
            transform: rotateY(324deg) translateZ(7rem);
}

.preloader__sector:nth-child(29) {
    -webkit-transform: rotateY(336deg) translateZ(7rem);
            transform: rotateY(336deg) translateZ(7rem);
}

.preloader__sector:nth-child(30) {
    -webkit-transform: rotateY(348deg) translateZ(7rem);
            transform: rotateY(348deg) translateZ(7rem); 
}

/* Animations */
@-webkit-keyframes tiltSpin {
    from {
    -webkit-transform: rotateY(0) rotateX(30deg);
            transform: rotateY(0) rotateX(30deg);
    }
    to {
    -webkit-transform: rotateY(1turn) rotateX(30deg);
            transform: rotateY(1turn) rotateX(30deg); 
    } 
}

@keyframes tiltSpin {
    from {
    -webkit-transform: rotateY(0) rotateX(30deg);
            transform: rotateY(0) rotateX(30deg); 
    }
    to {
    -webkit-transform: rotateY(1turn) rotateX(30deg);
            transform: rotateY(1turn) rotateX(30deg);
    }
}

@-webkit-keyframes spin {
    from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    }
    to {
    -webkit-transform: rotateY(1turn);
            transform: rotateY(1turn); 
    }
}

@keyframes spin {
    from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    }
    to {
    -webkit-transform: rotateY(1turn);
            transform: rotateY(1turn); 
    }
}
/*#endregion */