:root
{
    --primary-brand: #E79023;
    --secondary-brand: #7466E2;
    --confirm: #3DC81C;
    --error: #DC3D1C;
}

@media (min-width: 1440px)
{
    :root
    {
        --section-width: 1333.27px;
    }
}

@media (max-width: 1440px)
{
    :root
    {
        --section-width: 80%;
    }
}

@media (max-width: 768px)
{
    :root
    {
        --section-width: 430px;
        --section-width: 80%;
    }
}

@font-face {
    font-family: 'Code Font Light';
    src: url("../fonts/code-font/CODE\ Light.otf");
}

@font-face {
    font-family: 'Code Font Bold';
    src: url("../fonts/code-font/CODE\ Bold.otf");
}

@font-face {
    font-family: 'Quantum';
    src: url("../fonts/quantum/Quantum.otf");
}

@font-face {
    font-family: 'Neonize';
    src: url("../fonts/neonize/neonize.ttf");
}

body
{
    margin: 0;
    font-family: 'Exo 2';
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-weight: lighter;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
}

body > div
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Code Font Bold';
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2
{
    font-size: 48px;
}

h3
{
    font-size: 28px;
}

h4
{
    font-size: 24px;
}

h5
{
    font-size: 20px;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a
{
    color: white;
    text-decoration: none;
}

span
{
    color: white;
}



button
{
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#navbar
{
    top: -2px;
    position: fixed;
    z-index: 10;
    font-family: 'Code Font Bold';
    width: 100%;
}

.desktop .navbar-bg
{
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desktop .navbar-bg-left
{
    position: relative;
    height: 100%;
    left: 0;
}

.desktop .navbar-bg-right
{
    position: relative;
    height: 60px;
    width: 100%;
}

.desktop .navbar-logo
{
    position: absolute;
    left: 75px;
    top: 5px;
    z-index: 1;
}

.desktop .navbar-logo img
{
    width: 12em;
}

.desktop .navbar-tab-container
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    top: 15px;
    left: 50%;
    right: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5em;

    text-transform: uppercase;
    font-size: 12px;
}

.navbar-tab
{
    display: block;
}



#voyager
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
}

#voyager-navbar-mover
{
    margin: 0 auto;
    place-content: center;
    z-index: 5;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
}

#voyager-navbar-target
{
    position: absolute;
    top: 2.5px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
}

#voyager-header-target
{
    position: relative;
    left: 0;
    top: 0;
    width: 700px;
    height: 700px;
}

#voyager-navbar-mover.move {
    -webkit-animation: move 0.35s ease-out;
            animation: move 0.35s ease-out;
}

#voyager-navbar-target #voyager-navbar-mover
{
  scale: var(--voyager-move-end-scale);
}

#voyager-navbar-mover.move #voyager
{
    -webkit-animation: scale 0.35s ease-out;
            animation: scale 0.35s ease-out;
}


@-webkit-keyframes move {
    from {
        -webkit-transform: var(--voyager-move-start-position);
                transform: var(--voyager-move-start-position);
    }
    to {
        -webkit-transform: var(--voyager-move-end-position);
                transform: var(--voyager-move-end-position);
    }
  }


@keyframes move {
    from {
        -webkit-transform: var(--voyager-move-start-position);
                transform: var(--voyager-move-start-position);
    }
    to {
        -webkit-transform: var(--voyager-move-end-position);
                transform: var(--voyager-move-end-position);
    }
  }

  @-webkit-keyframes scale {
    from {
        scale: var(--voyager-move-start-scale);
    }
    to {
        scale: var(--voyager-move-end-scale);
    }
  }

  @keyframes scale {
    from {
        scale: var(--voyager-move-start-scale);
    }
    to {
        scale: var(--voyager-move-end-scale);
    }
  }


.btn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
}

.btn img
{
    width: 100%;
    height: auto;
}

.btn span
{
    position: absolute;
    -webkit-transform: translateY(-0.1em);
        -ms-transform: translateY(-0.1em);
            transform: translateY(-0.1em);
}


.repeat-bar
{
    pointer-events: none;
}

.repeat-bar::before,
.repeat-bar::after
{
    content: "";
    position: absolute;
    width: calc(50vw - 50%);
    height: 100%;
    background-repeat: repeat-x;
}

.repeat-bar::before
{
    right: 100%;
}

.repeat-bar::after
{
    left: 100%;
}


.heading-line
{
    position: relative;
    width: var(--section-width);

    padding-top: 60px;
    background-image: url(../images/lines/heading-line.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 114.34px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.heading-line > span
{
    font-family: "Code Font Bold";
    position: absolute;
    left: 95px;
    bottom: 60px;
    font-size: 48px;
    text-align: center;
    text-wrap: nowrap;
}


#footer-section
{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#footer-bg
{
    position: absolute;
    width: 100%;
    height: 449px;
    background-image: url("../images/footer-bg.png");
    background-position: top;
    background-size: contain 100%;
    background-repeat: repeat-x;
}

#footer-cta
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 150px;
    padding-bottom: 75px;
    color: white;
    gap: 4em;
    background-color: black;
}

#footer-cta > div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
}

#footer-cta h4
{
    margin: 0;
}

#footer-section ul
{
    font-family: 'Code Font Bold';
    text-transform: uppercase;
    text-align: left;
}

#footer-section li,
.opening-hours li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding-top: 15px;
}

#booking
{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#booking .btn
{
    margin-top: -1em;
    z-index: 1;
}

#footer-logo
{
    position: relative;
    z-index: 1;
    display: block;
    bottom: 0;
}

.week
{
    display: block;
    width: 12em;
}

.contact li
{
    text-transform: lowercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contact span,
.contact a
{
    padding-left: 1em;
}

.section
{
    width: var(--section-width);
    /* margin: 0 auto; */
    margin-top: 30px;
    margin-bottom: 30px;
    /* overflow-x: hidden; */
}


.content-container
{
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.highlight
{
    color: var(--primary-brand);
}

.section-divider
{
    position: absolute;
    width: 1440px;
    height: 22.5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;

    background-image: url(../images/lines/section-divider.png);
    background-repeat: no-repeat;
}

.section-divider::before
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    background-image: url(../images/lines/section-divider-side-left.png);
    /* background-size: auto 10%; */
}

.section-divider::after
{
    -webkit-transform: translate(-3px, 1px) rotate(180deg);
        -ms-transform: translate(-3px, 1px) rotate(180deg);
            transform: translate(-3px, 1px) rotate(180deg);
    background-image: url(../images/lines/section-divider-side-right.png);
}

.section-divider.top
{
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
}

.section-divider.bottom
{
    -webkit-transform: rotate(180deg) translateY(2px);
        -ms-transform: rotate(180deg) translateY(2px);
            transform: rotate(180deg) translateY(2px);
}

.ham-menu
{
    position: absolute;
    top: 25px;
    left: 10px;
    width: 26.29px;
    height: 15.29px;
    cursor: pointer;
}

.ham-menu img:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

.ham-menu img
{
    position: absolute;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    pointer-events: none;
}

.ham-menu img:nth-child(2) {
    top: 5.86px;
}

.ham-menu img:nth-child(3) {
    top: 11.72px;
}

.ham-menu.active img:nth-child(1) {
    -webkit-transform-origin: 10% 50%;
        -ms-transform-origin: 10% 50%;
            transform-origin: 10% 50%;
    rotate: 45deg;
}

.ham-menu.active img:nth-child(2) {
    opacity: 0%;
}

.ham-menu.active img:nth-child(3) {
    -webkit-transform-origin: 10% 50%;
        -ms-transform-origin: 10% 50%;
            transform-origin: 10% 50%;
    rotate: -45deg;
}

.off-screen-menu
{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    font-size: 12px;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    overflow: hidden;
}

.off-screen-menu.active
{
    left: 0;
}

.off-screen-menu .details-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    width: 300px
}

.off-screen-menu-content
{
    position: absolute;
    top: 100px;
    left: 25px;
    right: 25px;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 70px;
}

.off-screen-menu h4
{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.off-screen-menu .contact ul
{
    margin-top: 20px;
}

.off-screen-menu .opening-hours .week
{
    width: 125px;
}

.off-screen-menu .contact li
{
    margin-bottom: 20px;
}

.off-screen-menu .navbar-tab-container
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: 15px;
    left: 0;
    right: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;

    text-transform: uppercase;
}

.off-screen-menu .white-bar
{
    position: absolute;
    left: 90px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 105%;
}


#language-dropdown
{
    position: absolute;
    top: 20px;
    right: 2.5px;
    cursor: pointer;
    font-family: "Code Font Bold";
    font-size: 24px;
    color: var(--primary-brand);
}

#language-dropdown img {
    -webkit-transform: translate(-5px, -20%);
        -ms-transform: translate(-5px, -20%);
            transform: translate(-5px, -20%);
}


@media (max-width: 1440px)
{
    .section
    {
        margin-bottom: 15px;
    }

    .mobile .navbar-logo
    {
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 182px;
    }

    .navbar-logo img
    {
        width: 100%;
    }

    .mobile .navbar-bg
    {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 298px;
        height: 64px;

        background-image: url(../images/navbar/mobile/navbar-center.png);
    }

    .mobile .navbar-bg::before,
    .mobile .navbar-bg::after
    {
        background-image: url(../images/navbar/mobile/navbar-sides.png);
    }

    #footer-cta
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

@media (max-width: 768px)
{
    #voyager-navbar-target
    {
        top: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .heading-line
    {
        background-image: url(../images/lines/mobile/heading-line.png);
        height: 36.5px;
        max-width: 410px;
        margin: 0 auto;
        padding-top: 30px;
        margin-bottom: 15px;
    }

    .heading-line span
    {
        font-size: 20px;
        margin: 0 auto;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(160%);
            -ms-transform: translateX(-50%) translateY(160%);
                transform: translateX(-50%) translateY(160%);
    }

    .section-divider
    {
        width: 183px;
        height: 67px;
        background-image: url(../images/lines/mobile/section-divider-center.png);
    }

    .section-divider::before
    {
        rotate: 180deg;
        background-image: url(../images/lines/mobile/section-divider-sides.png);
    }

    .section-divider::after
    {
        rotate: 180deg;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        background-image: url(../images/lines/mobile/section-divider-sides.png);
    }

    .section-divider.top,
    .section-divider.bottom
    {
        -webkit-transform: translateY(-85%);
            -ms-transform: translateY(-85%);
                transform: translateY(-85%);
    }
}

#preloader-container
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 100;
    color: var(--primary-brand);
    perspective: 40em;
}
  
.preloader {
    display: flex;
    animation: tiltSpin 8s linear infinite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 17em;
    height: 17em; }
    .preloader, .preloader__ring {
    transform-style: preserve-3d; }
    .preloader__ring {
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: inherit;
    animation-iteration-count: inherit;
    font-size: 2em;
    position: relative;
    height: 3rem;
    width: 1.5rem; }
    .preloader__ring:nth-child(even) {
        animation-direction: reverse; }
    .preloader__sector {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(7rem); }
    .preloader__sector, .preloader__sector:empty:before {
        display: inline-block;
        width: 100%;
        height: 100%; }
    .preloader__sector:empty:before {
        background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
        content: ""; }
    .preloader__sector:nth-child(2) {
        transform: rotateY(12deg) translateZ(7rem); }
    .preloader__sector:nth-child(3) {
        transform: rotateY(24deg) translateZ(7rem); }
    .preloader__sector:nth-child(4) {
        transform: rotateY(36deg) translateZ(7rem); }
    .preloader__sector:nth-child(5) {
        transform: rotateY(48deg) translateZ(7rem); }
    .preloader__sector:nth-child(6) {
        transform: rotateY(60deg) translateZ(7rem); }
    .preloader__sector:nth-child(7) {
        transform: rotateY(72deg) translateZ(7rem); }
    .preloader__sector:nth-child(8) {
        transform: rotateY(84deg) translateZ(7rem); }
    .preloader__sector:nth-child(9) {
        transform: rotateY(96deg) translateZ(7rem); }
    .preloader__sector:nth-child(10) {
        transform: rotateY(108deg) translateZ(7rem); }
    .preloader__sector:nth-child(11) {
        transform: rotateY(120deg) translateZ(7rem); }
    .preloader__sector:nth-child(12) {
        transform: rotateY(132deg) translateZ(7rem); }
    .preloader__sector:nth-child(13) {
        transform: rotateY(144deg) translateZ(7rem); }
    .preloader__sector:nth-child(14) {
        transform: rotateY(156deg) translateZ(7rem); }
    .preloader__sector:nth-child(15) {
        transform: rotateY(168deg) translateZ(7rem); }
    .preloader__sector:nth-child(16) {
        transform: rotateY(180deg) translateZ(7rem); }
    .preloader__sector:nth-child(17) {
        transform: rotateY(192deg) translateZ(7rem); }
    .preloader__sector:nth-child(18) {
        transform: rotateY(204deg) translateZ(7rem); }
    .preloader__sector:nth-child(19) {
        transform: rotateY(216deg) translateZ(7rem); }
    .preloader__sector:nth-child(20) {
        transform: rotateY(228deg) translateZ(7rem); }
    .preloader__sector:nth-child(21) {
        transform: rotateY(240deg) translateZ(7rem); }
    .preloader__sector:nth-child(22) {
        transform: rotateY(252deg) translateZ(7rem); }
    .preloader__sector:nth-child(23) {
        transform: rotateY(264deg) translateZ(7rem); }
    .preloader__sector:nth-child(24) {
        transform: rotateY(276deg) translateZ(7rem); }
    .preloader__sector:nth-child(25) {
        transform: rotateY(288deg) translateZ(7rem); }
    .preloader__sector:nth-child(26) {
        transform: rotateY(300deg) translateZ(7rem); }
    .preloader__sector:nth-child(27) {
        transform: rotateY(312deg) translateZ(7rem); }
    .preloader__sector:nth-child(28) {
        transform: rotateY(324deg) translateZ(7rem); }
    .preloader__sector:nth-child(29) {
        transform: rotateY(336deg) translateZ(7rem); }
    .preloader__sector:nth-child(30) {
        transform: rotateY(348deg) translateZ(7rem); }

/* Animations */
@keyframes tiltSpin {
    from {
    transform: rotateY(0) rotateX(30deg); }
    to {
    transform: rotateY(1turn) rotateX(30deg); } }

@keyframes spin {
    from {
    transform: rotateY(0); }
    to {
    transform: rotateY(1turn); } }
