:root {
    --primary-brand: #e79023;
    --primary-brand-accent: #e79023;
    --secondary-brand: #7466e2;
    --confirm: #3dc81c;
    --error: #dc3d1c;
    --secondary-white: #ddd;
    --tertiary-white: #a7a7a7;
}

@media (min-width: 1440px) {
    :root {
    --section-width: 1333.27px;
    }
}

@media (max-width: 1440px) {
    :root {
    --section-width: 80%;
    }
}

@media (max-width: 768px) {
    :root {
    --section-width: 80%;
    }
}

@media (max-width: 430px) {
    :root {
    --section-width: 90%;
    }
}

@font-face {
    font-family: "Code Font Bold";
    src: url(../fonts/code-font/code-bold.woff2) format("woff2"),
    url(../fonts/code-font/code-bold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Quantum";
    src: url(../fonts/quantum/quantum.woff2) format("woff2"),
    url(../fonts/quantum/quantum.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neonize";
    src: url(../fonts/neonize/neonize.woff2) format("woff2"),
    url(../fonts/neonize/neonize.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Exo 2";
    background-image: url(../images/bg.webp);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-weight: lighter;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    text-shadow: 2px 2px #00000075;
}

:root {
    --test: #1a1c2f;
}

body > main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Code Font Bold";
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

span {
    color: #fff;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: ;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: inherit;
    cursor: pointer;
    outline: inherit;
}

input {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff20;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    pointer-events: none;
    z-index: 1000;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    scale: 0.75;
}

.cursor.clickable-hovering {
    background-color: var(--confirm);
    scale: 0.35;
}

.cursor.text-hovering {
    mix-blend-mode: difference;
    background-color: #fff;
    scale: 4;
}

#cursor-glow-wrapper {
    position: absolute;
    width: 125px;
    aspect-ratio: 1;
    overflow: visible;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 1;
    -webkit-transition: opacity 0.75s;
    -o-transition: opacity 0.75s;
    transition: opacity 0.75s;
    pointer-events: none;
    z-index: -2;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#cursor-glow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
    background: -o-linear-gradient(
    left,
    var(--primary-brand),
    var(--secondary-brand)
    );
    background: -webkit-gradient(
    linear,
    left top, right top,
    from(var(--primary-brand)),
    to(var(--secondary-brand))
    );
    background: linear-gradient(
    to right,
    var(--primary-brand),
    var(--secondary-brand)
    );
    z-index: -2;
    -webkit-animation: glow-rotate 15s infinite;
    animation: glow-rotate 15s infinite;
}

#cursor-glow::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: 100;
    background: -o-linear-gradient(
    left,
    var(--primary-brand),
    var(--secondary-brand)
    );
    background: -webkit-gradient(
    linear,
    left top, right top,
    from(var(--primary-brand)),
    to(var(--secondary-brand))
    );
    background: linear-gradient(
    to right,
    var(--primary-brand),
    var(--secondary-brand)
    );
}

#cursor-glow-wrapper.clickable-hovering {
    opacity: 0;
}

#cursor-glow-wrapper.clickable-hovering #cursor-glow::after {
    opacity: 1;
}

@-webkit-keyframes glow-rotate {
    from {
    rotate: 0;
    }

    50% {
    scale: 1 1.5;
    }

    to {
    rotate: 360deg;
    }
}

@keyframes glow-rotate {
    from {
    rotate: 0;
    }

    50% {
    scale: 1 1.5;
    }

    to {
    rotate: 360deg;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
    background-color: var(black);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    background-color: var(--primary-brand);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-white);
}

#navbar {
    position: fixed;
    z-index: 100;
    font-family: "Code Font Bold";
    width: 100%;
    -webkit-animation: navbar-enter 1.15s ease;
            animation: navbar-enter 1.15s ease;
}

@-webkit-keyframes navbar-enter {
    from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    }

    to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    }
}

@keyframes navbar-enter {
    from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    }

    to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    }
}

.desktop .navbar-bg {
    width: 100%;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desktop .navbar-bg-left {
    position: relative;
    height: 100%;
    left: 0;
}

.desktop .navbar-bg-right {
    position: relative;
    width: 100%;
}

.desktop .navbar-logo {
    position: absolute;
    left: 75px;
    top: 5px;
    z-index: 1;
}

.desktop .navbar-logo img {
    width: 269px;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #000;
    -webkit-box-shadow: 0 8px 16px 0 #0003;
            box-shadow: 0 8px 16px 0 #0003;
    gap: 10px;
    left: 0;
    z-index: 1;
    opacity: 0;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    pointer-events: none;
    padding: 15px 30px;
}

.dropdown:hover .dropdown-content,
.dropdown.hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;
}

.notice-board {
    position: absolute;
    display: inline;
    top: 80%;
    left: 420px;
    right: 10px;
    text-wrap: nowrap;
    color: var(--primary-brand);
    font: 14px "Code Font Bold";
}

.notice-board span {
    position: absolute;
    color: var(--primary-brand);
}

.notice-board .list-wrapper {
    position: absolute;
    overflow: hidden;
    left: 100px;
    right: 0;
}

.notice-board ul {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    left: 0;
    -webkit-animation: notice-bar-scroll 25s infinite linear;
    animation: notice-bar-scroll 25s infinite linear;
}

.notice-board ul li {
    white-space: nowrap;
    padding: 0 100px;
    font-style: italic;
    text-transform: none;
    color: var(--primary-brand-accent);
}

@-webkit-keyframes notice-bar-scroll {
    from {
    left: calc(100vw - 545px);
    }

    to {
    left: 0;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    }
}

@keyframes notice-bar-scroll {
    from {
    left: calc(100vw - 545px);
    }

    to {
    left: 0;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    }
}

.desktop .navbar-tab-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 23px;
    width: 100%;
    min-width: 1400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    text-transform: uppercase;
    font-size: 4;
}

.desktop .navbar-tab-container a {
    text-wrap: nowrap;
}


.navbar-tab-container > * {
    padding-left: 30px;
    padding-right: 30px;
}

.desktop .navbar-tab-container .main {
    font-size: 20px;
}

#header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: -o-linear-gradient(transparent, black);
    background: linear-gradient(transparent, black);
    z-index: 0;
    pointer-events: none;
}

#voyager {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

#voyager-navbar-mover {
    margin: 0 auto;
    place-content: center;
    z-index: 5;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

#voyager-navbar-target {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    width: 60px;
    height: 60px;
    z-index: 10;
}

#voyager-header-target {
    position: relative;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    z-index: 4;
    pointer-events: none;
    transform: translateY(20px);
}

#voyager-navbar-mover.move {
    -webkit-animation: move 0.35s ease-out;
    animation: move 0.35s ease-out;
}

#voyager-navbar-target #voyager-navbar-mover {
    scale: var(--voyager-move-end-scale);
}

#voyager-navbar-mover.move #voyager {
    -webkit-animation: scale 0.35s ease-out;
    animation: scale 0.35s ease-out;
}

@-webkit-keyframes move {
    from {
    -webkit-transform: var(--voyager-move-start-position);
    transform: var(--voyager-move-start-position);
    }

    to {
    -webkit-transform: var(--voyager-move-end-position);
    transform: var(--voyager-move-end-position);
    }
}

@keyframes move {
    from {
    -webkit-transform: var(--voyager-move-start-position);
    transform: var(--voyager-move-start-position);
    }

    to {
    -webkit-transform: var(--voyager-move-end-position);
    transform: var(--voyager-move-end-position);
    }
}

@-webkit-keyframes scale {
    from {
    scale: var(--voyager-move-start-scale);
    }

    to {
    scale: var(--voyager-move-end-scale);
    }
}

@keyframes scale {
    from {
    scale: var(--voyager-move-start-scale);
    }

    to {
    scale: var(--voyager-move-end-scale);
    }
}

.side-text-left,
.side-text-right {
    position: fixed;
    display: inline;
    width: 32px;
    height: 100%;
    background-image: url(../images/branding/voyager-vertical.webp);
    background-repeat: repeat-y;
    -webkit-animation: side-text-scroll 35s linear infinite;
    animation: side-text-scroll 35s linear infinite;
    opacity: 10%;
    z-index: 2;
}

.side-text-left {
    left: 5px;
}

.side-text-right {
    right: 5px;
    animation-direction: reverse;
}

@-webkit-keyframes side-text-scroll {
    0% {
    background-position: 0 0;
    }

    100% {
    background-position: 0 397px;
    }
}

@keyframes side-text-scroll {
    0% {
    background-position: 0 0;
    }

    100% {
    background-position: 0 397px;
    }
}

.btn {
    position: relative;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    text-wrap: nowrap;
    font: 20px "Code Font Bold";
}

.btn img {
    width: 100%;
}

.btn span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
}

.btn {
    display: block;
    place-content: center;
}

.btn img {
}

.close-btn {
    position: absolute;
    width: 21.91px;
    height: 21.91px;
    top: 35px;
    right: 35px;
    background-image: url(../images/btns/close.webp);
    cursor: pointer;
}

.input-field {
    position: relative;
    background-image: url(../images/input-field/inactive.webp);
    background-repeat: no-repeat;
    width: 379px;
    height: 34px;
    margin: 20px;
}

.input-field input,
.input-field span {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 20px;
}

.input-field input {
    width: 91.5%;
    outline: none;
    color: var(--secondary-white);
}

.input-field span {
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    pointer-events: none;
    color: var(--tertiary-white);
}

.input-field:focus-within {
    background-image: url(../images/input-field/active.webp);
}

.input-field input:valid ~ span,
.input-field input:focus ~ span {
    bottom: 100%;
    font-size: 15px;
}

.glow-hover {
    -webkit-transition: -webkit-filter 0.2s;
    transition: -webkit-filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
}

.ham-menu.glow-hover:hover,
.btn.glow-hover:hover,
.close-btn.glow-hover:hover,
.language-dropdown.glow-hover:hover {
    -webkit-filter: drop-shadow(0rem 0rem 10px #ffffff80);
    filter: drop-shadow(0rem 0rem 10px #ffffff80);
}

.glow-hover:hover {
    color: var(--primary-brand);
}

.panel-3d:hover > .glow-hover {
    -webkit-filter: drop-shadow(0rem 0rem 20px var(--secondary-brand));
    filter: drop-shadow(0rem 0rem 20px var(--secondary-brand));
}

.repeat-bar {
    pointer-events: none;
}

.repeat-bar::before,
.repeat-bar::after {
    content: "";
    position: absolute;
    width: calc(50vw - 50%);
    height: 100%;
    background-repeat: repeat-x;
}

.repeat-bar::before {
    right: 100%;
}

.repeat-bar::after {
    left: 100%;
}

#body-content {
    width: 100%;
    background-size: 100vw 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 150px;
    z-index: 10;
}

.heading-line {
    position: relative;
    width: var(--section-width);
    padding-top: 60px;
    height: 114.34px;
    width: 100%;
    max-width: 1325.5px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.heading-line > span {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.heading-line > span:nth-child(1) {
    width: 111px;
    background-image: url(../images/lines/heading-line-1.webp);
}

.heading-line > span:nth-child(2) {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    background-image: url(../images/lines/heading-line-2.webp);
}

.heading-line > span:nth-child(3) {
    width: 66px;
    background-image: url(../images/lines/heading-line-3.webp);
}

.heading-line > span:nth-child(4) {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    background-image: url(../images/lines/heading-line-4.webp);
}

.heading-line > span:nth-child(5) {
    width: 47px;
    background-image: url(../images/lines/heading-line-5.webp);
}

.heading-line > span:nth-child(6) {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    background-image: url(../images/lines/heading-line-6.webp);
}

.heading-line h2 {
    position: absolute;
    left: 95px;
    bottom: 60px;
    text-align: center;
    text-wrap: nowrap;
    font: 48px "Code Font Bold";
}

@media (max-width: 1024px) {
    .heading-line h2 {
        font-size: 38px;
    }
}

#footer {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    margin-top: -150px;
    z-index: 56;
}

#footer-bg {
    position: absolute;
    width: 100%;
    height: 449px;
    background-image: url(../images/footer-bg.webp);
    background-position: top;
    background-size: contain 100%;
    background-repeat: repeat-x;
}

#footer-cta {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-top: 150px;
    padding-bottom: 75px;
    color: #fff;
    background-color: #000;
}

#footer-cta > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 35px;
}

#footer-cta h4 {
    margin: 0;
}

#footer ul {
    font-family: "Code Font Bold";
    text-transform: uppercase;
    text-align: left;
}

#footer li,
.opening-hours li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    font: 14px "Exo 2";
}

#footer #booking {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#footer #booking .btn {
    z-index: 1;
}

.social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#footer-logo {
    position: relative;
    z-index: 1;
    display: block;
    bottom: 0;
}

#footer-cta > .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32.5px;
}

.week {
    display: block;
    width: 12em;
}

.contact li {
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Exo 2";
}

.contact span,
.contact a {
    padding-left: 1em;
}

.section {
    width: var(--section-width);
    padding-top: 60px;
    /* margin-top: 60px; */
    margin-bottom: 60px;
}

.content-container {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.content-container > .geometry {
    position: absolute;
    scale: 2;
    opacity: 0.1;
}

.geometry {
    opacity: 0.25;
    scale: 1.25;
}

.content-container > .geometry:nth-child(1) {
    left: 100px;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.content-container > .geometry:nth-child(2) {
    right: 100px;
    top: 0;
}

.highlight {
    color: var(--primary-brand);
}

.section-divider {
    position: absolute;
    width: 1440px;
    height: 22.5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    background-image: url(../images/lines/section-divider.webp);
    background-repeat: no-repeat;
}

.section-divider::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url(../images/lines/section-divider-side-left.webp);
}

.section-divider::after {
    -webkit-transform: translate(-3px, 1px) rotate(180deg);
    -ms-transform: translate(-3px, 1px) rotate(180deg);
    transform: translate(-3px, 1px) rotate(180deg);
    background-image: url(../images/lines/section-divider-side-right.webp);
}

.section-divider.top {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.section-divider.bottom {
    -webkit-transform: rotate(180deg) translateY(2px);
    -ms-transform: rotate(180deg) translateY(2px);
    transform: rotate(180deg) translateY(2px);
}

.ham-menu {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 26.29px;
    height: 15.29px;
    cursor: pointer;
}

.ham-menu img:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ham-menu img {
    position: absolute;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    pointer-events: none;
}

.ham-menu img:nth-child(2) {
    top: 5.86px;
}

.ham-menu img:nth-child(3) {
    top: 11.72px;
}

.ham-menu.active img:nth-child(1) {
    -webkit-transform-origin: 10% 50%;
    -ms-transform-origin: 10% 50%;
    transform-origin: 10% 50%;
    rotate: 45deg;
}

.ham-menu.active img:nth-child(2) {
    opacity: 0;
}

.ham-menu.active img:nth-child(3) {
    -webkit-transform-origin: 10% 50%;
    -ms-transform-origin: 10% 50%;
    transform-origin: 10% 50%;
    rotate: -45deg;
}

.off-screen-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #000;
    font-size: 12px;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    overflow: hidden;
}

.off-screen-menu.active {
    left: 0;
}

.off-screen-menu .details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    width: 300px;
}

.off-screen-menu-content {
    position: absolute;
    top: 100px;
    left: 25px;
    right: 25px;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 70px;
}

.off-screen-menu h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.off-screen-menu .contact ul {
    margin-top: 20px;
}

.off-screen-menu .opening-hours .week {
    width: 100px;
}

.off-screen-menu .contact li {
    margin-bottom: 20px;
}

.off-screen-menu .navbar-tab-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 25px;
    text-transform: uppercase;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
}

.off-screen-menu .navbar-tab-container > * {
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-wrap: nowrap;
}

.off-screen-menu .white-bar {
    position: absolute;
    left: 175px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 105%;
}

.language-dropdown {
    position: absolute;
    top: 20px;
    right: 2.5px;
    cursor: pointer;
    color: var(--primary-brand);
    font: 24px "Code Font Bold";
}

.language-dropdown img {
    -webkit-transform: translate(-5px, -20%);
    -ms-transform: translate(-5px, -20%);
    transform: translate(-5px, -20%);
}

.mouse-move-parallax {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0;
}

.popup.open {
    display: inline;
    opacity: 1;
}

#booking-form .content-container {
    background-image: url(../images/panels/popup-1.webp);
    padding-top: 30px;
    padding-bottom: 30px;
}

#booking-form .btn {
    margin: 20px;
}

.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.side-decor-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.side-decor-heading h2 {
    text-align: center;
    text-wrap: nowrap;
    font: lighter 20px "Neonize";
}

.side-decor-heading span {
    background-image: url(../images/decor/side-art.webp);
    background-repeat: no-repeat;
    width: 258.5px;
    height: 47px;
    pointer-events: none;
}

.side-decor-heading span:nth-child(1) {
    margin-right: -110px;
}

.side-decor-heading span:nth-child(3) {
    margin-left: -110px;
    rotate: 180deg;
}

@media (max-width: 1440px) {
    .section {
    margin-bottom: 15px;
    }

    .mobile .navbar-logo {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 182px;
    }

    .navbar-logo img {
    width: 100%;
    }

    .mobile .navbar-bg {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 280px;
    height: 64px;
    background-image: url(../images/navbar/mobile/navbar-center.webp);
    background-size: 100% 100%;
    }

    .mobile .navbar-bg::before,
    .mobile .navbar-bg::after {
    background-image: url(../images/navbar/mobile/navbar-sides.webp);
    }

    #footer-cta {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    #voyager-navbar-target {
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    }

    .heading-line {
    background-image: url(../images/lines/mobile/heading-line.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    max-width: 410px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
    }

    .heading-line > span {
    display: none;
    }

    .heading-line h2 {
    font-size: 20px;
    margin: 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(160%);
    -ms-transform: translateX(-50%) translateY(160%);
    transform: translateX(-50%) translateY(160%);
    }

    .section-divider {
    width: 183px;
    height: 67px;
    background-image: url(../images/lines/mobile/section-divider-center.webp);
    }

    .section-divider::before {
    rotate: 180deg;
    background-image: url(../images/lines/mobile/section-divider-sides.webp);
    }

    .section-divider::after {
    rotate: 180deg;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url(../images/lines/mobile/section-divider-sides.webp);
    }

    .section-divider.top,
    .section-divider.bottom {
    -webkit-transform: translateY(-85%);
    -ms-transform: translateY(-85%);
    transform: translateY(-85%);
    }
}

.transition-fade {
    opacity: 0;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    pointer-events: none;
}

html.is-animating .transition-fade {
    opacity: 1;
    pointer-events: auto;
}

#preloader-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    color: var(--primary-brand);
    -webkit-perspective: 40em;
    perspective: 40em;
}

#preloader-container.initial-loading {
    opacity: 1;
}

body.initial-loading,
html.is-animating body {
    overflow: hidden;
}

#preloader-container > * {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1000px;
    -o-object-fit: cover;
       object-fit: cover;
}

[scroll-transition] {
    pointer-events: none;
}

[scroll-transition="slide-up"]:not([scroll-transition-list]) {
    opacity: 0;
    -webkit-transform: translateY(200px);
        -ms-transform: translateY(200px);
            transform: translateY(200px);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

[scroll-transition="slide-up"]:not(
    [scroll-transition-list]
    ).scroll-transition-end {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}

[scroll-transition="slide-down"]:not([scroll-transition-list]) {
    opacity: 0;
    -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

[scroll-transition="slide-down"]:not(
    [scroll-transition-list]
    ).scroll-transition-end {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}

@media (min-width: 768px) {
    [scroll-transition="slide-left"]:not([scroll-transition-list]) {
        --slide-offset: 325px;
        transform: translateX(var(--slide-offset));
    }

    [scroll-transition="slide-right"]:not([scroll-transition-list]) {
        --slide-offset: -325px;
        transform: translateX(var(--slide-offset));
    }
}

@media (max-width: 768px) {
    [scroll-transition="slide-left"]:not([scroll-transition-list]) {
        --slide-offset: 200px;
        transform: translateX(var(--slide-offset));
    }

    [scroll-transition="slide-right"]:not([scroll-transition-list]) {
        --slide-offset: -200px;
        transform: translateX(var(--slide-offset));
    }
}

[scroll-transition="slide-left"]:not([scroll-transition-list]) {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

[scroll-transition="slide-left"]:not(
    [scroll-transition-list]
    ).scroll-transition-end {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
}

[scroll-transition="slide-right"]:not([scroll-transition-list]) {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

[scroll-transition="slide-right"]:not(
    [scroll-transition-list]
    ).scroll-transition-end {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
}

[scroll-transition="fade-in"]:not([scroll-transition-list]) {
    opacity: 0;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

[scroll-transition="fade-in"]:not(
    [scroll-transition-list]
    ).scroll-transition-end {
    opacity: 1;
}