/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#steps-section {
    padding: 0;
}

#steps-section ul {
    position: relative;
    width: 100vw;
    max-width: 1440px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0;
}

#steps-section li {
    position: relative;
    display: inline-block;
    width: 100%;
}

#steps-section li > div {
    position: relative;
    margin-top: 75px;
    margin-bottom: 75px;
}

#steps-section li img {
    pointer-events: none;
}

#steps-section .panel-container {
    position: relative;
    display: inline-block;
    width: auto;
    z-index: 3;
}

#steps-section .panel-container .outline {
    position: relative;
}

#steps-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#steps-section .overlay > * {
    position: absolute;
}

#steps-section li .fill {
}

#steps-section .panel-container .decor {
    left: -2px;
    top: -4px;
}

#steps-section .panel-container .description {
    top: 50%;
    -webkit-transform: translateY(calc(-50% + 35px));
    -ms-transform: translateY(calc(-50% + 35px));
    transform: translateY(calc(-50% + 35px));
    width: 308px;
    left: 8.5%;
    font-size: 20px;
}

#steps-section .panel-container h3 {
    top: 14%;
    left: 32%;
    width: 200px;
    height: 55px;
    font-size: 24px;
    place-content: center;
}

#steps-section .step-text,
#steps-section .step-number {
    font-family: "Quantum";
    color: var(--primary-brand);
}

#steps-section .step-text {
    font-size: 24px;
    top: 1.75%;
    left: 4%;
}

#steps-section .step-number {
    font-size: 50px;
    top: 6.5%;
    left: 4%;
}

#steps-section .panel-container.panel-3d {
    cursor: auto;
}

#steps-section li .geometry {
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

#steps-section li:nth-child(1n) .geometry {
    top: -15%;
    left: 50.5%;
}

#steps-section li:nth-child(2n) .geometry {
    top: -15%;
    left: -20%;
}

#steps-section li .media {
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    /* width: 500px; */
    z-index: 1;
    height: 300px;
}

#steps-section li:nth-child(odd) .media {
    left: 65%;
    bottom: 10%;
    -webkit-transform: perspective(800px) rotateZ(-5deg) rotateY(-35deg);
    transform: perspective(800px) rotateZ(-5deg) rotateY(-35deg);
}

#steps-section li:nth-child(even) .media {
    bottom: 10%;
    right: 65%;
    -webkit-transform: perspective(800px) rotateZ(5deg) rotateY(35deg);
    transform: perspective(800px) rotateZ(5deg) rotateY(35deg);
}

#steps-section li:nth-child(1) .media {
    left: 70%;
}

#steps-section li:nth-child(2) .media {
    right: 80%;
    height: 400px;
    bottom: 5%;
}

#steps-section li:nth-child(3) .media {
    left: 55%;
    bottom: 5%;
}

#steps-section li:nth-child(4) .media {
    right: 70%;
    bottom: 5%;
    height: 350px;
}

@media (min-width: 1024px) {
    #steps-section li:nth-child(odd) > div {
    float: left;
    margin-left: 100px;
    }

    #steps-section li:nth-child(even) > div {
    float: right;
    margin-right: 100px;
    }
}

@media (max-width: 1024px) {
    #steps-section ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }
    
    #steps-section li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    }

    #steps-section li > div {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #steps-section li:nth-child(odd) .media,
    #steps-section li:nth-child(even) .media {
        position: relative;
        top: -35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 400px;
        height: auto;
        max-height: 250px;
        object-fit: contain;
    }
}

@media (max-width: 430px) {
    #steps-section li > div {
        scale: 0.8;
    }
}


/* #region Dry Hire */
.dry-hire-list {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    font-size: 24px;
    margin-top: 100px;
}

.dry-hire-list th {
    text-align: left;
    font-family: "Code Font Bold";
}

.dry-hire-list td {
    font-family: "Exo 2";
}

.dry-hire-list tr > * {
    padding: 10px;
}

.dry-hire-list tr > th {
    padding-top: 25px;
}

.dry-hire-list tr > th:nth-child(2) {
    background-image: url("../images/shared/logo-white.webp");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.dry-hire-list th:nth-child(2) {
    width: 20%;
    text-align: center;
}

.dry-hire-list tr td:nth-child(2) {
    text-align: center;
}

.dry-hire-list tr:nth-child(odd) > *:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.05);
}

.dry-hire-list tr:nth-child(odd) > *:nth-child(2) {
    background-color: rgba(255, 162, 0, 0.1);
}

.dry-hire-list tr:nth-child(even) > *:nth-child(2) {
    background-color: rgba(255, 162, 0, 0.05);
}

.dry-hire-list tr:nth-child(even) td:nth-child(2) {
    text-align: center;
}

@media (max-width: 768px) {
    .dry-hire-list {
        font-size: 16px;
    }
}
/* #endregion */

/* #region Production Packages */
.pricing-plan-list {
    position: relative;
    padding: 40px;
    width: 85%;
    display: block;
    left: 50%;
    transform: translate(-50%);
}

ul.pricing-plan-list > li {
    /* background-image: url(../images/green-screen-production-section/pricing-plan-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background: var(--primary-brand);
    height: 275px;
    position: relative;
    margin-top: 200px;
    padding-bottom: 50px;
    padding-right: 150px;
    display: flex;
    gap: 100px;
    justify-content: center;
    border-radius: 2em;
}

ul.pricing-plan-list > li > h4 {
    position: absolute;
    color: black;
    text-shadow: none;
    font-family: "Quantum";
    font-size: 50px;
    right: 0;
    top: 10%;
    transform: translate(calc(100% - 50%));
}

ul.pricing-plan-list > li > .type {
    position: absolute;
    height: 150px;
    width: 250px;
    top: 0;
    right: 0;
    transform: translate(17%, calc(-100% + 39px));
    background-image: url(../images/green-screen-production-section/pricing-plan-corner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

ul.pricing-plan-list > li > .type h4 {
    color: black;
    text-shadow: none;
    font-size: 50px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0%);
}

ul.pricing-plan-list > li > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
}

ul.pricing-plan-list > li > div:nth-child(1) {
}

ul.pricing-plan-list > li > div:nth-child(1) h5 {
	font-size: 40px;
    font-family: "Exo 2";
    text-wrap: nowrap;
}

ul.pricing-plan-list > li > div:nth-child(1) > span:nth-child(2) {
    color: black;
    font-weight: bold;
    text-shadow: none;
}

ul.pricing-plan-list > li > div:nth-child(1) > h4 {
    font-size: 90px;
    margin-top: -25px;
}

ul.pricing-plan-list > li > div:nth-child(2) {
    color: black;
    text-shadow: none;
}

ul.pricing-plan-list > li > div:nth-child(2) h6 {
    font-size: 24px;
    text-transform: none;
    font-family: "Exo 2";
}

ul.pricing-plan-list > li > div:nth-child(2) ul {
    position: relative;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto;
}

ul.pricing-plan-list > li > div:nth-child(2) ul li {
    padding-top: 10px;
    padding-bottom: 5px;
    text-wrap: nowrap;
}

ul.pricing-plan-list > li > div:nth-child(2) ul li::before {
    content: "";
    background-image: url(../images/shared/tick.webp);
    display: inline-block;
    background-size: 100% 100%;
    width: 15px;
    height: 10px;
    font-size: 24px;
    margin-right: 20px;
}

@media (max-width: 1440px) {
    ul.pricing-plan-list > li {
    gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
}

@media (max-width: 1280px) {
    ul.pricing-plan-list > li {
        flex-direction: column;
        height: auto;
    }

    ul.pricing-plan-list > li > div:nth-child(1) {
        padding-top: 50px;
    }

    ul.pricing-plan-list > li > div:nth-child(2) ul {
        column-gap: 25px;
    }
}

@media (max-width: 768px) {
    ul.pricing-plan-list > li {
        align-items: center;
    }

    ul.pricing-plan-list > li > div:nth-child(1) {
        text-align: center;
    }

    ul.pricing-plan-list > li > div:nth-child(2) ul {
        display: flex;
        flex-direction: column;
    }

    ul.pricing-plan-list > li > .type {
        width: 200px;
    }

    
    ul.pricing-plan-list > li > .type h4 {
        /* font-size: 20px; */
    }
}
/* #endregion */


/* #region Equipment Hire */
#equipment-hire-section {
    position: relative;
}

/* Equipment Range */
#equipment-hire-section .equipment-range-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    gap: 10px;
    justify-content: center;
    margin: 60px;
}

#equipment-hire-section .equipment-range-grid > div {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    text-align: center;
}

#equipment-hire-section .equipment-range-grid .img-container {
    height: 250px;
    aspect-ratio: 1;
    display: flex;
    place-content: center;
    justify-content: center;
}

#equipment-hire-section .equipment-range-grid .img-container > img {
    height: 100%;
    filter: drop-shadow(0rem 0rem 10px #ffffff80);
}

#equipment-hire-section .equipment-range-grid .price-list {
    display: flex;
    gap: 25px;
}

#equipment-hire-section .equipment-range-grid .price-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equipment-hire-section .equipment-range-grid .price-list > li > span:nth-child(1) {
    font-size: 16px;
    color: var(--secondary-white)
}

@media (max-width: 1024px) {
    #equipment-hire-section .equipment-range-grid {
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    #equipment-hire-section .equipment-range-grid .img-container {
        height: 150px;
    }
}

/* @media (max-width: 756px) {
    #equipment-hire-section .equipment-range-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
} */


/* Hardware and Software */
#equipment-hire-section .hardware-software-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin: 75px;
    margin-left: 25px;
    margin-right: 25px;
    gap: 50px;
}

#equipment-hire-section .hardware-software-grid > div {
    display: flex;
}

#equipment-hire-section .hardware-software-grid > div > div {
    font-size: 30px;
    margin: 25px;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(1) {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(1) .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(1) .img-container > img {
    filter: drop-shadow(0rem 0rem 10px #ffffff80);
    position: relative;
    max-width: 500px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(1) span {
    font-size: 20px;
    color: var(--secondary-white);
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(2) {
    width: 40%;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(2) h5 {
    font-size: 34px;
    font-family: "Exo 2";
    text-transform: none;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(2) ul {
    display: flex;
    flex-direction: column;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(2) ul li {
    display: flex;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-wrap: nowrap;
}

#equipment-hire-section .hardware-software-grid > div > div:nth-child(2) ul li::before {
    content: "";
    background-image: url(../images/shared/logo-white.webp);
    background-size: 100% 100%;
    height: 30px;
    aspect-ratio: 1;
    margin-right: 20px;
    transform: translateY(2.5px);
}

@media (max-width: 768px) {
    #equipment-hire-section .hardware-software-grid {
        justify-content: center;
        align-items: center;
    }

    #equipment-hire-section .hardware-software-grid > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #equipment-hire-section .hardware-software-grid > div > div {
        margin: 10px;
    }

    #equipment-hire-section .hardware-software-grid > div > div:nth-child(1) {
        width: auto;
    }

    #equipment-hire-section .hardware-software-grid > div > div:nth-child(2) {
        width: auto;
    }

    #equipment-hire-section .hardware-software-grid > div > div:nth-child(1) span {
        text-align: center;
    }

    #equipment-hire-section .hardware-software-grid > div > div:nth-child(2) h5 {
        font-size: 24px;
        text-align: center;
    }

    #equipment-hire-section .hardware-software-grid > div > div:nth-child(2) ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #equipment-hire-section .hardware-software-grid > div > div:nth-child(2) ul li::before {
        height: 20px;
        margin-right: 10px;
    }

    #equipment-hire-section .hardware-software-grid > div > div:nth-child(2) ul li {
        font-size: 18px;
        padding-right: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 430px) {

}
/* #endregion */


/* #region Additional Support */
.support-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    font-size: 24px;
    transform: translate(-50%);
    width: 600px;
    left: 50%;
    gap: 20px;
}

.support-list > li {
}

.left-right-text {

}

.cc-link-line {
    position: relative;
    font-size: 20px;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

.cc-link-line a {
	color: var(--primary-brand);
}

.left-right-list > li > span:nth-child(1) {
    float: left;
}

.left-right-list > li > span:nth-child(2) {
    float: right;
}

@media (max-width: 768px) {
    .support-list {
        width: 100%;
        font-size: 16px;
    }

    .cc-link-line {
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .left-right-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .left-right-list span {
        display: flex;
        float: none;
        flex-direction: column;
        text-align: center;
    }

    .left-right-list > li > span:nth-child(1) {
        float: none;
    }
    
    .left-right-list > li > span:nth-child(2) {
        float: none;
        color: var(--secondary-white);
    }
}
/* #endregion */

.btn {
    width: 300px;
    margin: 0 auto;
}