@media (min-width: 1536px)
{
    :root #header
    {
        --header-scale: 1.1;
    }
}

@media (min-width: 1536px)
{
    :root #header
    {
        --header-scale: 1;
    }
}

@media (max-width: 1536px)
{
    :root #header
    {
        --header-scale: 0.9;
    }
}

@media (max-width: 1280px)
{
    :root #header
    {
        --header-scale: 0.75;
    }
}

@media (max-width: 1024px)
{
    :root #header
    {
        --header-scale: 0.6;
    }
}

@media (max-width: 768px)
{
    :root #header
    {
        --header-scale: 1;
    }
}


#header-container .decor-container
{
    scale: var(--header-scale);
}

#voyager-header-target
{
    width: calc(700px * var(--header-scale));
    height: calc(700px * var(--header-scale));
}    

#header
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
}

#header-container
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: var(--section-width);
    height: 100%;
    gap: 200px;
}


.side-text-left,
.side-text-right
{
    position: fixed;
    display: inline;
    width: 32px;
    height: 100%;
    background-image: url(../images/branding/voyager-vertical.png);
    background-repeat: repeat-y;
    -webkit-animation: verticalScroll 35s linear infinite;
            animation: verticalScroll 35s linear infinite;
    opacity: 3.5%;
}

.side-text-left
{
    left: 5px;
}

.side-text-right
{
    right: 5px;
    animation-direction: reverse;
}

@-webkit-keyframes verticalScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        /* Height of side text image, using px to keep speed independant of screen height, as opposed to % */
        background-position: 0 397px; 
    }
}

@keyframes verticalScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        /* Height of side text image, using px to keep speed independant of screen height, as opposed to % */
        background-position: 0 397px; 
    }
}


#project-section
{
}

.project-container
{
    position: relative;
}

/* Initialises at certain breakpoint */
#project-slider
{
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 100px;
}

#project-slider .slick-list
{
    overflow: visible;
}

#project-slider .column
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    gap: 15px;
}

#project-section .panel-item
{
    width: 275.81px;
    height: 500.81px;
}

#project-slider .btn
{
    width: 181px;
}

#project-slider .btn img
{
    width: 100%;
}


#project-slider .slick-slide
{
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#project-slider .slick-track > div:not(.slick-center) {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
}

#project-section .slider-container .prev-btn,
#project-section .slider-container .next-btn
{
    top: 45%;
}

#project-section .slider-container .prev-btn
{
    left: 50%;
    -webkit-transform: translateX(-190px);
        -ms-transform: translateX(-190px);
            transform: translateX(-190px);
}

#project-section .slider-container .next-btn
{
    right: 50%;
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px);
}


.panel-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500.81px;
    width: 275.81px;

}

.panel-item-outline
{
    position: absolute;
    height: 100%;
}

.panel-item-img
{
    position: absolute;
    height: 98%;
    margin: 0 auto;
    top: 7px;
}

.panel-item-overlay
{
    position: relative;
    width: 80%;
    height: 100%;
    color: white;
    z-index: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 1em;
}


.panel-3d
{
    --rX: 0deg;
    --rY: 0deg;
    --bX: 50%;
    --bY: 80%;
    -webkit-transform: rotateX(var(--rX)) rotateY(var(--rY)) ;
            transform: rotateX(var(--rX)) rotateY(var(--rY)) ;
    -webkit-transition: scale 1s, -webkit-transform 1s;
    transition: scale 1s, -webkit-transform 1s;
    -o-transition: transform 1s, scale 1s;
    transition: transform 1s, scale 1s;
    transition: transform 1s, scale 1s, -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective:none;
            perspective:none;
    cursor: pointer;
    width: 100%;
}

.panel-3d .panel-3d-pop,
.panel-3d .panel-3d-push
{
    -webkit-transform-style: inherit;
    transform-style: inherit;
}

.panel-3d:hover
{
    scale: 1.1;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.panel-3d:hover .panel-3d-pop
{
    -webkit-transform: translateZ(25px);
            transform: translateZ(25px);
}

.panel-3d:hover .panel-3d-push
{
    -webkit-transform: translateZ(-25px);
            transform: translateZ(-25px);
}

.panel-3d:not(:hover) .panel-3d-pop,
.panel-3d:not(:hover) .panel-3d-push
{
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#testimonial-slider .card.panel-3d
{
    cursor: auto;
}

.panel-item-overlay > span
{
    text-align: center;
    padding-bottom: 2em;
    font-size: 15px;
}

.panel-item-overlay h4
{
    position: absolute;
    text-align: center;
    top: 8%;
    width: 80%;
    right: 11.5%;
}

#slideshow-section
{ 
    position: relative;
    width: 100%;
    z-index: 1;
}

#slideshow-section .slider-img-bg
{
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
    -webkit-filter: blur(3.5px);
            filter: blur(3.5px);
    background-size: cover;
    background-position: center;
}

#slideshow-section .slider-img-bg-overlay
{
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 50%;
}

#voyager-header-target
{
    z-index: 2;
    transform: translate(-27.5%, 0);
}

#header-container
{
    position: relative;
}

#header-container .panel-item
{
    position: absolute;
    height: 600px;
    transform-style: preserve-3d;
    scale: 0.95;
    transform: perspective(800px) rotateY(-30deg) rotateX(5deg);
    top: -325px;
    left: 200px;
}

#header-container .panel-item .panel-item-img
{
    transform: translate(10px);
}

#header-container .btn
{
    transform: translate(82.5px);
}

#header-container .decor-container
{
    position: absolute;
    margin: 0 auto;
    background-color: aqua;
    z-index: 1;
}

#header-plane
{
    position: absolute;
    transform: perspective(800px) translate(-67.5%, 5%) rotateY(30deg) rotateX(0deg)
}

.catchphrase
{
    font-family: "Code Font Bold";
    text-wrap: nowrap;
}

#header .catchphrase
{
    font-size: 40px;
    position: absolute;
    transform: translate(-80%, 410%);
    text-shadow: 0px 0px 20px var(--secondary-brand);
}

#header-bg-text-1,
#header-bg-text-2
{
    position: absolute;
    font-family: "Neonize";
    font-size: 10px;
    color: #DDDDDD;
    text-wrap: nowrap;
}

#header-bg-text-1
{
    transform: perspective(800px) rotateY(-10deg) rotateX(10deg);
    top: -200px;
    left: 55px;
    scale: 1.15;
}

#header-bg-text-2
{
    position: absolute;
    font-family: "Neonize";
    font-size: 10px;
    transform: perspective(800px) rotateY(40deg) rotateX(20deg);
    left: -500px;
}

#header-container .mobile .btn
{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -40px);
        -ms-transform: translate(-50%, -40px);
            transform: translate(-50%, -40px);
    z-index: 2;
    font-size: 14px;
}


.grid-container
{
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}

.grid-item
{
    position: relative;
    margin: 15px;
    width: 371.28px;
    height: 301.81px;
}


.grid-item-bg
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    background-image: url(../images/service-section/panel-outline.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-item-decor
{
    position: absolute;
    bottom: 112px;
    left: 100px;
    width: 43.51px;
    height: 21.66px;

    background-image: url(../images/service-section/panel-decor.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.service-no
{
    position: absolute;
    font-family: "Quantum";
    left: 6px;
    bottom: 62.5px;
    font-size: 50px;
    color: var(--primary-brand);
}


#client-section
{
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-color: black;
}

#client-section .bg
{
    position: absolute;
    width: 430px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../images/clients/bg-center.png);
}

#client-section .bg.repeat-bar::before,
#client-section .bg.repeat-bar::after
{
    background-image: url(../images/clients/bg-sides.png);
}


.client-btn-container
{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
}
.client-btn
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 75px;
    min-height: 75px;
    max-width: 150px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 20px;
}

.client-btn img
{
    position: absolute;
    max-width: 75px;
    max-height: 100%;
    -webkit-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
}

.client-btn .hovered
{
    opacity: 0%;
}

.client-btn .unhovered
{
    opacity: 100%;
}

.client-btn:hover .hovered
{
    opacity: 100%;
}

.client-btn:hover .unhovered
{
    opacity: 0%;
}

#body-content
{
    width: 100%;
    background-image: url(../images/bg.png);
    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

#header-outside
{
    position: a;
    width: 0;
    height: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
}

.btn.book-now
{
    position: absolute;
    z-index: 2;
}

.btn.book-now img
{
    height: 23px;
    width: 170px;
}

.btn.btn.book-now span
{
    font-size: 15px;
    left: 27.5%;
    top: 10%;
}

#body-content .catchphrase
{
    position: absolute;
    transform: translate(0, -200%);
    text-shadow: 0px 0px 10px var(--secondary-brand);
    font-size: 20px;
}

#service-section
{
    /* background-image: url(../images/bg.png);
    background-size: 100vw 100vh; */
}

.grid-item .description
{
    position: absolute;
    font-size: 14px;
    left: 28%;
    right: 5%;
    bottom: 8%;
}

.grid-item h3
{
    position: absolute;
    font-size: 28px;
    bottom: 105px;
    left: 147.5px;
}

.service-img
{
    position: absolute;
    width: 341.43px;
    height: 173.07px;
    left: 14px;
    top: 5px;
    background-image: url(../images/service-section/panel-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


body > div
{

}


#service-section .content-container
{
    background-image: url("../images/container/container-1.png");
    padding-top: 20px;
    padding-bottom: 30px;
}

#project-section .content-container
{
    background-image: url("../images/container/container-2.png");
    padding-top: 35px;
    padding-bottom: 70px;
}


@media (max-width: 1440px)
{
    /* #slideshow-section
    {
        width: 100%;
    } */

    #service-section .content-container,
    #project-section .content-container
    {
        background-image: none;
        padding-top: 0;
        padding-bottom: 0;
    }


}

@media (min-width: 1280px)
{
    #project-section .slider-container .prev-btn,
    #project-section .slider-container .next-btn {
        display: none;
    }
}

@media (max-width: 1280px)
{
    #project-section .slick-slide .wire-decor
    {
        display: none;
    }

    .project-container
    {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 1280px;
    }
}

@media (max-width: 1024px)
{
    .grid-item
    {
        position: relative;
        width: 305.5px;
        height: 221.5px;
    }

    .grid-item-bg
    {
        position: relative;
        width: 305.5px;
        height: 221.5px;
        background-image: url(../images/service-section/mobile/panel-outline.png);
    }

    .service-img
    {
        width: 303.43px;
        height: 153.81px;
        left: 0px;
        top: 7px;
        background-image: url(../images/service-section/mobile/panel-img.png);
    }

    .grid-item-decor
    {
        bottom: 65px;
        left: 80px;
        width: 21px;
        height: 11px;
        background-image: url(../images/service-section/mobile/panel-decor.png);
    }

    .grid-item .description
    {
        bottom: 2.5px;
        left: 63.5px;
        right: 0;
        font-size: 12px;
    }

    .grid-item h3
    {
        bottom: 60px;
        left: 102.5px;
        font-size: 16px;
    }

    .service-no
    {
        font-size: 30px;
        left: 17.5px;
        bottom: 20px;
    }
}

@media (min-width: 768px)
{
    #header-container
    {
        width: 10000px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media (max-width: 768px) {

    #voyager
    {
        -webkit-transform: translate(100px, -25px);
            -ms-transform: translate(100px, -25px);
                transform: translate(100px, -25px);
    }

    #header
    {
        height: 50vh;
        min-height: 350px;
    }

    #header-container
    {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end;

        position: fixed;
        top: 0;
        height: 50vh;
        min-height: 350px;
    }

    #body-content
    {
        z-index: 5;
    }

    #header .catchphrase
    {
        font-size: 20px;
        transform: translate(-50%, -350%);
        z-index: 2;
    }

    #header-bg-text-1,
    #header-bg-text-2
    {
        position: absolute;
        font-family: "Neonize";
        font-size: 5px;
    }

    #header-bg-text-1
    {
        top: -275px;
        /* transform: translate(80%, -1150%); */
        z-index: 15;
    }

    #header-bg-text-2
    {
        top: -175px;
        left: -125px;
        /* transform: translate(-115%, -730%); */
    }

    #voyager-header-target
    {
        width: 300px;
        height: 300px;
        transform: translateX(-32.5%);
    }

    #spotlight-plane
    {
        position: absolute;
        display: inline;
        width: 430px;
        height: 138px;
        bottom: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-image: url(../images/header-section/mobile/spotlight-plane.png);
        background-position: center;
        transform: translateX(-50%);
    }

    #spotlight-plane::before,
    #spotlight-plane::after
    {
        background-image: url(../images/header-section/mobile/spotlight-plane-sides.png);
    }
    
    #client-section
    {
        -webkit-transform: translateY(-9px);
            -ms-transform: translateY(-9px);
                transform: translateY(-9px);
    }

    #client-section .section-divider {
        background-image: url(../images/lines/mobile/section-divider-center-no-shadow.png);
        background-position: bottom;
    }

    #client-section .section-divider.bottom {
        background-image: url(../images/lines/mobile/section-divider-center-no-shadow.png);
        background-position: bottom;
        transform: translateY(-100%);
    }


    #client-section .section-divider::before,
    #client-section .section-divider::after
    {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        background-image: url(../images/lines/mobile/section-divider-sides-no-shadow.png);
        background-position: bottom;
    }

    .client-btn-container
    {
        gap: 0;
    }

    .client-btn
    {
        min-width: 50px;
        min-height: 50px;
        max-width: 100px;
        -webkit-box-flex: 0.5;
            -ms-flex-positive: 0.5;
                flex-grow: 0.5;
        margin-top: 20px;
        margin-left: -10px;
        margin-right: -10px;
        z-index: 1;
    }

    .client-btn img
    {
        max-width: 50px;
    }

    .grid-container
    {
        overflow: hidden;
    }
    
    .read-more-container
    {
    }

    .read-more-container .divider
    {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        width: 183px;
        height: 68px;
        background-image: url(../images/lines/mobile/section-divider-center.png);
    }

    .read-more-container .divider::before,
    .read-more-container .divider::after
    {
        background-image: url(../images/lines/mobile/section-divider-sides.png);
    }

    .read-more-container .hide
    {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: translateY(-95%);
            -ms-transform: translateY(-95%);
                transform: translateY(-95%);
        width: 430px;
        width: 100vw;
        height: 131px;
        background-image: url(../images/service-section/mobile/read-more-hide.png);
    }

    .read-more-container
    {
    }

    .read-more-btn
    {
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: translateY(-50px);
            -ms-transform: translateY(-50px);
                transform: translateY(-50px);
        text-transform: uppercase;
    }

    .project-container
    {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 430px;
    }

    #project-slider .slick-current
    {
    }

    #project-slider .slick-track > div:not(.slick-center) {
        -webkit-filter: blur(2.5px);
                filter: blur(2.5px);
    }

    #project-slider .slick-track > div:not(.slick-center) .panel-item {
        pointer-events: none;
    }
}


/* Testimonial Slider */
#testimonial-slider
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 1081.28px;
    height: 100%;
    margin: 0 auto;
}

@media (min-width: 1440px)
{
    :root .slider-container
    {
        --arrow-y-offset: 13px;
    }
}

@media (max-width: 1440px)
{
    :root .slider-container
    {
        --arrow-y-offset: 11px;
    }

    #header-container .thin-desktop.mobile
    {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 30px;
    }
}

.card {
    position: relative;
    width: 321.58px;
    height: 292.11px;

    margin: 15px;
}

.card .card-outline
{
    width: 100%;
    height: 100%;
}

.card span
{
    position: absolute;
    top: 35%;
    left: 12.5%;
    right: 12.5%;
    bottom: 14%;
    font-size: 20px;
}

.card h4
{
    position: absolute;
    top: 19.5%;
    left: 39%;
}

.slider-container
{
    position: relative;
}

#testimonial-section .slider-container
{
    margin: 0 auto;
    width: 1178.59px;

    background-image: url("../images/slider/container.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slider-container .prev-btn,
.slider-container .next-btn {
    position: absolute;
    z-index: 2;
    top: 50%;
}

.slider-container .prev-btn {
    left: 0;
}

.slider-container .next-btn {
    right: 0;
}

#testimonial-section .slider-container .prev-btn,
#testimonial-section .slider-container .next-btn {
    top: 44%;
}

#testimonial-section .slider-container .prev-btn
{
    left: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

#testimonial-section .slider-container .next-btn
{
    right: 0;
    -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
            transform: translateX(80%);
}

.prev-btn > img:nth-of-type(2),
.next-btn > img:nth-of-type(2)
{
    -webkit-transform: translateX(-14px);
        -ms-transform: translateX(-14px);
            transform: translateX(-14px);
}

@media (max-width: 1440px)
{
    #testimonial-section .slider-container
    {

    }
}

@media (min-width: 1280px) {
    .project-container > .wire-decor
    {
        display: none;
    }
}

@media (max-width: 1280px)
{
    #project-slider
    {
        width: 900px;
        width: 100%;
        display: inline-block;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    
    .project-container > .wire-decor
    {
        display: block;
        margin: 0 auto;
        padding: 10px;
    }

    #testimonial-section .slider-container {
        width: 800px;
    }

    #testimonial-slider
    {
        width: 90%;
    }
}

@media (max-width: 1024px)
{
    #testimonial-section .slider-container {
        width: 374px;
        height: 303px;
        background-image: url("../images/slider/mobile/container.png");
    }

    #testimonial-slider .card
    {
        width: 284.19px;
        height: 258.32px;
    }

    #testimonial-slider .card span
    {
        font-size: 16px;
    }

    #testimonial-slider .card h4
    {
        font-size: 18px;
    }
}

@media (max-width: 768px)
{
    #client-section
    {
        background-color: rgba(0, 0, 0, 0);
    }

    #testimonial-section .slider-container
    {
        left: 50%;
        right: 0;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        display: inline-block;
    }
}

@media (max-width: 430px)
{
    #testimonial-section .slider-container
    {
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
        scale: 0.8;
    }
}

/* Scroll Transition */
.panel-3d.scroll-transition
{
    opacity: 0;
    transition: 1s;
    bottom: -100px;
}

.panel-3d.scroll-transition.end
{
    opacity: 1;
    bottom: 0;
}

.heading-line.scroll-transition
{
    opacity: 0;
    left: -175px;
    transition: 1s;
}

.heading-line.scroll-transition.end
{
    left: 0;
    opacity: 1;
}


