/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
	background: #000;
}

#cursor-glow-wrapper {
	width: 250px;
	-webkit-filter: blur(125px);
	filter: blur(125px);
}

#header {
	position: relative;
	width: 100%;
	height: 600px;
	margin-bottom: 75px;
}

#header #bg-video {
	position: absolute;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	pointer-events: none;
	left: 0;
	top: 0;
}

#header .middle {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end;
	z-index: 1;
}

#header .middle img {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

/* #header-container > .middle {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: 1;
    padding-bottom: 20px;
    height: 100%;
}

#header-container > .middle > img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    translate: 0 20px;
} */

#header h1 {
	position: relative;
	z-index: 1;
	font-size: 50px;
	padding-bottom: 15px;
	text-align: center;
	text-wrap: nowrap;
}

#voyager-header-target {
	-webkit-transform: translateY(175px);
	    -ms-transform: translateY(175px);
	        transform: translateY(175px);
}

#header::before {
	position: absolute;
	content: "";
	bottom: 0;
	-webkit-transform: translateY(calc(100% - 1px));
	    -ms-transform: translateY(calc(100% - 1px));
	        transform: translateY(calc(100% - 1px));
	width: 100%;
	height: 50px;
	background-color: #000;
	z-index: 1;
}

#header::after {
	position: absolute;
	content: "";
	bottom: 0;
	-webkit-transform: translateY(calc(48px + 100%));
	    -ms-transform: translateY(calc(48px + 100%));
	        transform: translateY(calc(48px + 100%));
	width: 100%;
	height: 100px;
	background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	background: -o-linear-gradient(black, transparent);
	background: linear-gradient(black, transparent);
	z-index: 1;
}

p {
	position: relative;
	text-align: justify;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
}

.section {
}

.other-heading-line {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 10px;
	padding-top: 25px;
}

.other-heading-line h3 {
	font-size: 34px;
	text-align: center;
	text-transform: none;
	font-family: "Exo 2";
}

.other-heading-line > div {
	position: relative;
	width: 90%;
	height: 25px;
	background-image: url(../images/lines/other-heading-line.png);
	background-size: 100% 100%;
	background-position: top;
}

.other-line-botton {
	position: relative;
	width: 90%;
	height: 25px;
	background-image: url(../images/lines/other-heading-line.png);
	background-size: 100% 100%;
	background-position: top;
	left: 50%;
	transform: translateX(-50%) rotate(180deg);
	margin-bottom: 25px;
}

.other-line-botton + h3 {
	text-align: center;
	width: 85%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	font-family: "Exo 2";
	text-transform: none;
}

@media (max-width: 768px) {
	#header h1 {
		font-size: 35px;
	}

	.other-heading-line {
	}

	.other-heading-line h3 {
		font-size: 25px;
	}

	.other-line-botton + h3 {
		font-size: 25px;
	}
}

