/* #region Animation */
.preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-animation: tiltSpin 8s linear infinite;
            animation: tiltSpin 8s linear infinite;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 17em;
    height: 17em;
}

.preloader, .preloader__ring {
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.preloader__ring {
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: inherit;
            animation-timing-function: inherit;
    -webkit-animation-iteration-count: inherit;
            animation-iteration-count: inherit;
    font-size: 1.2em;
    font-family: 'Neonize';
    font-weight: lighter;
    position: relative;
    height: 3rem;
    width: 1.5rem;
}

.preloader__ring:nth-child(even) {
    animation-direction: reverse;
}

.preloader__sector {
font-weight: 600;
position: absolute;
top: 0;
left: 0;
text-align: center;
text-transform: uppercase;
-webkit-transform: translateZ(7rem);
        transform: translateZ(7rem);
}

.preloader__sector, .preloader__sector:empty:before {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.preloader__sector:empty:before {
    background: -o-linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, transparent), color-stop(45%, currentColor), color-stop(55%, transparent));
    background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
    content: "";
}

.preloader__sector:nth-child(2) {
    -webkit-transform: rotateY(12deg) translateZ(7rem);
            transform: rotateY(12deg) translateZ(7rem);
}

.preloader__sector:nth-child(3) {
    -webkit-transform: rotateY(24deg) translateZ(7rem);
            transform: rotateY(24deg) translateZ(7rem);
}

.preloader__sector:nth-child(4) {
    -webkit-transform: rotateY(36deg) translateZ(7rem);
            transform: rotateY(36deg) translateZ(7rem); 
}

.preloader__sector:nth-child(5) {
    -webkit-transform: rotateY(48deg) translateZ(7rem);
            transform: rotateY(48deg) translateZ(7rem); 
}

.preloader__sector:nth-child(6) {
    -webkit-transform: rotateY(60deg) translateZ(7rem);
            transform: rotateY(60deg) translateZ(7rem); 
}

.preloader__sector:nth-child(7) {
    -webkit-transform: rotateY(72deg) translateZ(7rem);
            transform: rotateY(72deg) translateZ(7rem);
}

.preloader__sector:nth-child(8) {
    -webkit-transform: rotateY(84deg) translateZ(7rem);
            transform: rotateY(84deg) translateZ(7rem); 
}

.preloader__sector:nth-child(9) {
    -webkit-transform: rotateY(96deg) translateZ(7rem);
            transform: rotateY(96deg) translateZ(7rem); 
}

.preloader__sector:nth-child(10) {
    -webkit-transform: rotateY(108deg) translateZ(7rem);
            transform: rotateY(108deg) translateZ(7rem); 
}

.preloader__sector:nth-child(11) {
    -webkit-transform: rotateY(120deg) translateZ(7rem);
            transform: rotateY(120deg) translateZ(7rem);
}

.preloader__sector:nth-child(12) {
    -webkit-transform: rotateY(132deg) translateZ(7rem);
            transform: rotateY(132deg) translateZ(7rem); 
}

.preloader__sector:nth-child(13) {
    -webkit-transform: rotateY(144deg) translateZ(7rem);
            transform: rotateY(144deg) translateZ(7rem);
}

.preloader__sector:nth-child(14) {
    -webkit-transform: rotateY(156deg) translateZ(7rem);
            transform: rotateY(156deg) translateZ(7rem);
}

.preloader__sector:nth-child(15) {
    -webkit-transform: rotateY(168deg) translateZ(7rem);
            transform: rotateY(168deg) translateZ(7rem); 
}

.preloader__sector:nth-child(16) {
    -webkit-transform: rotateY(180deg) translateZ(7rem);
            transform: rotateY(180deg) translateZ(7rem);
}

.preloader__sector:nth-child(17) {
    -webkit-transform: rotateY(192deg) translateZ(7rem);
            transform: rotateY(192deg) translateZ(7rem); 
}

.preloader__sector:nth-child(18) {
    -webkit-transform: rotateY(204deg) translateZ(7rem);
            transform: rotateY(204deg) translateZ(7rem); 
}

.preloader__sector:nth-child(19) {
    -webkit-transform: rotateY(216deg) translateZ(7rem);
            transform: rotateY(216deg) translateZ(7rem); 
}

.preloader__sector:nth-child(20) {
    -webkit-transform: rotateY(228deg) translateZ(7rem);
            transform: rotateY(228deg) translateZ(7rem); 
}

.preloader__sector:nth-child(21) {
    -webkit-transform: rotateY(240deg) translateZ(7rem);
            transform: rotateY(240deg) translateZ(7rem);
}

.preloader__sector:nth-child(22) {
    -webkit-transform: rotateY(252deg) translateZ(7rem);
            transform: rotateY(252deg) translateZ(7rem);
}

.preloader__sector:nth-child(23) {
    -webkit-transform: rotateY(264deg) translateZ(7rem);
            transform: rotateY(264deg) translateZ(7rem);
}

.preloader__sector:nth-child(24) {
    -webkit-transform: rotateY(276deg) translateZ(7rem);
            transform: rotateY(276deg) translateZ(7rem);
}

.preloader__sector:nth-child(25) {
    -webkit-transform: rotateY(288deg) translateZ(7rem);
            transform: rotateY(288deg) translateZ(7rem);
}

.preloader__sector:nth-child(26) {
    -webkit-transform: rotateY(300deg) translateZ(7rem);
            transform: rotateY(300deg) translateZ(7rem);
}

.preloader__sector:nth-child(27) {
    -webkit-transform: rotateY(312deg) translateZ(7rem);
            transform: rotateY(312deg) translateZ(7rem); 
}

.preloader__sector:nth-child(28) {
    -webkit-transform: rotateY(324deg) translateZ(7rem);
            transform: rotateY(324deg) translateZ(7rem);
}

.preloader__sector:nth-child(29) {
    -webkit-transform: rotateY(336deg) translateZ(7rem);
            transform: rotateY(336deg) translateZ(7rem);
}

.preloader__sector:nth-child(30) {
    -webkit-transform: rotateY(348deg) translateZ(7rem);
            transform: rotateY(348deg) translateZ(7rem); 
}

/* Animations */
@-webkit-keyframes tiltSpin {
    from {
    -webkit-transform: rotateY(0) rotateX(30deg);
            transform: rotateY(0) rotateX(30deg);
    }
    to {
    -webkit-transform: rotateY(1turn) rotateX(30deg);
            transform: rotateY(1turn) rotateX(30deg); 
    } 
}

@keyframes tiltSpin {
    from {
    -webkit-transform: rotateY(0) rotateX(30deg);
            transform: rotateY(0) rotateX(30deg); 
    }
    to {
    -webkit-transform: rotateY(1turn) rotateX(30deg);
            transform: rotateY(1turn) rotateX(30deg);
    }
}

@-webkit-keyframes spin {
    from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    }
    to {
    -webkit-transform: rotateY(1turn);
            transform: rotateY(1turn); 
    }
}

@keyframes spin {
    from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    }
    to {
    -webkit-transform: rotateY(1turn);
            transform: rotateY(1turn); 
    }
}
/*#endregion */
/*#endregion */