/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.slideshow-container {
    position: relative;
    margin: 0 auto;
    width: 1441px;
    height: 826px;
}

#slideshow-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow-container .outline {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.slideshow-container .slide {
    position: relative;
    height: 100%;
}

.slideshow-container .slide > * {
    position: relative;
    width: 100%;
}

.slideshow-container h2 {
    position: absolute;
    bottom: 20%;
    left: 6%;
    z-index: 322;
}

.slideshow-container span {
    position: absolute;
    top: 81%;
    left: 6%;
    right: 55.5%;
    bottom: 10%;
    font-size: 20px;
    z-index: 2;
}

.slideshow-container .prev-btn {
    top: 50%;
    left: 0.8%;
    -webkit-transform: translateY(calc(-50% + 4px));
        -ms-transform: translateY(calc(-50% + 4px));
            transform: translateY(calc(-50% + 4px));
}

.slideshow-container .next-btn {
    top: 50%;
    right: -0.3%;
    -webkit-transform: translateY(calc(-50% + 3px));
        -ms-transform: translateY(calc(-50% + 3px));
            transform: translateY(calc(-50% + 3px));
}

@media (max-width: 1440px) {
    .slideshow-container {
    width: 90vw;
    height: calc(90vw * 0.57321304649);
    }

    .slideshow-container span {
    right: 10%;
    }
}

@media (max-width: 768px) {
    .slideshow-container {
    width: 100%;
    }

    .slideshow-container > .prev-btn,
    .slideshow-container > .next-btn {
    scale: 0.75;
    display: none;
    }
}